<html>
{% load static %}

<head>
    <title>forgot password</title>
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <script src="{% static 'js/forgotpassword.js' %}"></script>
</head>

<body>
    <div class="container">
        <h1>Forgot Password</h1>
        <form action="http://localhost:8000/smartapp/verifycode/" method="post" onsubmit="validateForm()">
            {% csrf_token %}
            <div class="textfield">
                <label for="email">Email Id :</label>
                <input type="text" name="email" class="eMail" id="eMail" placeholder="eg:abc@gmail.com"
                    autocomplete="off">
            </div>

            <div class="Submit">
                <button class="sub" type="submit">Submit</button>

            </div>
        </form>

    </div>
</body>

</html>