*{
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
    background-color: white;
}
.container{
    position:absolute;
    top:25%;
    left:30%;
    width: 40%;
    background-color: aliceblue;
    border-radius: 10px;
}
.container h1{
    
    text-align: center;
    padding: 10% 0 7% 0;
    border-bottom: 1px ;
    font-size: 2vw;
}
.container form{
    padding: 0 10%;
    box-sizing: border-box;
}
form .textfield{
    position: relative;
    margin-left: 5% 0;
    
    
}
.textfield label{
    padding-top:50%;
    font-size: 1.5vw;
}

.textfield input{
    
    width: 50%;
    height: 30px;
    padding-left: 10px;
}
.textfield input{

    position: relative;
    left: 10%;
}
form .textfield1{
    position: relative;
    margin:5% 0;
}
.textfield1 label{
    padding-top:50%;
    font-size: 1.5vw;
}

.textfield1 input{
    
    width: 50%;
    height: 30px;
    padding-left: 10px;
}
.textfield1 input{
   position: relative;
   left: 22%;
}
.pass{
    margin: -5px 0 20px 5px;
    font-size: 1.5vw;
    cursor: pointer;
}
.pass:hover{
    color: blue;
    text-decoration: underline;
}
.sub{
    color: white;
    width: 50%;
    height: 30px;
    font-size:1vw;
    border-radius: 5px;
    cursor: pointer;
    background-color:rgb(66, 66, 218);
}
.Submit{
    padding-left: 34%;
}
.signuplink{
   margin: 30px 0;
   text-align: center;
   font-size:1.5vw ;
}
.signuplink a{
    text-decoration: none;
}
.signuplink a:hover{
    text-decoration: underline;
}

.header{
    white-space: nowrap;
}
.headsection{
    display: inline-block;
}

.header .headerimage{
    height: 50px;
    width: 50px;
}